.back-btn{
position:absolute;
top:20px;
left:20px;
width:45px;
height:45px;
border-radius:50%;
border:none;
background:#2563eb;
color:white;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
}

body{
overflow-x:hidden;
}

.back-btn:hover{
background-color:#1e40af;
}

.dashboard-container{
position: relative;
margin-top:40px;
padding:50px;
font-family:Arial,sans-serif;
  background: linear-gradient(135deg, #d1e0f4, #ffd3e1);
min-height:calc(100vh - 70px);
width:190%;
max-width:26%;
box-sizing:border-box;
overflow-x:hidden;
}

.welcome-card{
margin-top:10px;
width:90%;
max-width:100%;
background:linear-gradient(90deg,#182848,#4b6cb7);
color:#fff;
padding:30px;
border-radius:12px;
box-sizing:border-box;
box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.welcome-card h2{
margin-left:40px;
font-size:28px;
}

.welcome-card p{
margin-top:18px;
font-size:16px;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:25px;
width:90%;
}

.stat-box{
background:#fff;
padding:20px;
border-radius:12px;
text-align:center;
box-shadow:0 8px 25px rgba(0,0,0,0.4);
}

.stat-box h3{
margin:0;
font-size:24px;
color:#4e73df;
}

.stat-box p{
margin-top:5px;
font-size:14px;
color:#555;
}

.button-group{
margin-top:40px;
display:flex;
gap:15px;
}

.button-group button{
padding:12px 25px;
border:none;
border-radius:8px;
cursor:pointer;
background:linear-gradient(90deg,#182848,#4b6cb7);
color:#fff;
font-size:16px;
transition:background 0.3s;
}

.button-group button:hover{
background-color:#2e59d9;
}

.logout-btn{
background:linear-gradient(#340101,#893030)!important;
}

.logout-btn:hover{
background-color:#c0392b;
}

.carousel-wrapper{
display:flex;
align-items:center;
gap:10px;
margin-top:20px;
width:100%;
overflow:hidden;
}

.carousel-btn{
flex-shrink:0;
width:50px;
height:50px;
background:linear-gradient(#070c17,#425279);
color:#fff;
border:none;
border-radius:6px;
cursor:pointer;
font-size:18px;
display:flex;
align-items:center;
justify-content:center;
transition:background 0.3s;
}

.carousel-btn:hover{
background:#2e59d9;
}

.featured-carousel{
display:flex;
overflow-x:auto;
gap:20px;
scroll-behavior:smooth;
width:85%;
scrollbar-width:none;
}

.featured-carousel::-webkit-scrollbar{
display:none;
}

.featured-card{
flex:0 0 220px;
background:#fff;
padding:15px;
border-radius:12px;
text-align:center;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
cursor:pointer;
transition:transform 0.2s,box-shadow 0.2s;
}

.featured-card:hover{
transform:translateY(-5px);
box-shadow:0 6px 12px rgba(0,0,0,0.15);
}

.featured-card img{
width:100%;
height:160px;
object-fit:cover;
border-radius:8px;
}

.featured-card h4{
margin:10px 0 5px;
font-size:16px;
color:#333;
}

.featured-card p{
margin:0;
font-size:14px;
color:#555;
}