/* ===== Page Background ===== */
.login-page {
  min-height: 100vh;
  background-image: url("/login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

/* ===== Login Card ===== */
.login-card {
  position: relative;
  width: 578px;
  height: 400px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  display: grid;
  grid-template-columns: 55% 45%;

  padding-left: 3.9rem;
  padding-top: 3rem;
  padding-bottom: .5rem;

  margin-top: 33px;
  margin-left: 165px;
}


/* Keep form above purple panel */
.login-card > * {
  grid-column: 1 / 2;
  position: relative;
  z-index: 2;
}

/* Heading */
.login-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: 600;
}

/* Purple panel */
.login-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background: #6c3bff;

  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;

  z-index: 1;
}

/* Input Fields */
.input-group {
  margin-bottom: 1.4rem;
}

.input-group input {
  width: 90%;
  padding: 12px;
  font-size: 14px;
  border: none;
  background: #f0f0f0;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

.input-group input:focus {
  background: #e9e9ff;
  box-shadow: 0 0 0 2px rgba(108, 59, 255, 0.2);
}

/* Buttons */
.primary-btn {
  width: 90%;
  height: 45px;
  border: none;
  border-radius: 8px;
  background: #6c3bff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #5a2ee6;
}

/* Message */
.message {
  margin-top: 1rem;
  font-size: 13px;
  color: #d32f2f; /* red error */
  width: 90%;
}